
  .chat-window p {
    margin: 0;
  }
  .chat-window .chat-header {
    padding: 0;
    border-radius: 6px 6px 0 0;
    background: #263238;
    position: relative;
  }
  .chat-window .chat-header p {
    display: block;
    padding: 0 1em 0 2em;
    color: #fff;
    font-weight: 700;
    line-height: 45px;
  }
  
  .chat-window .chat-body {
    height: calc(600px - (45px + 70px));
    border: 1px solid #263238;
  
    position: relative;
  }
  .chat-window .chat-body .message-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .chat-window .chat-body .message-container::-webkit-scrollbar {
    display: none;
  }
  .chat-window .chat-body .message {
    height: auto;
    padding: 10px;
    display: flex;
  }
  
  .chat-window .chat-body .message .message-content {
    width: auto;
    height: auto;
    max-width: 519px;
    background-color: #317234;
    border-radius: 15px;
    color: white;
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
    overflow-wrap: break-word;
    word-break: break-word;
    padding: 10px 11px;
  }
  
  #you {
    justify-content: flex-start;
  }
  
  #you .message-content {
    justify-content: flex-start;
    background-color: #568aaa;

  }
  
  #you .message-meta {
    align-items: flex-start;
    margin-left:9px ;

  }
  
  #other {
    justify-content: flex-end;
  }
  
  #other .message-content {
    align-items: flex-end;

  }
  
  #other .message-meta {
    align-items: flex-end;
    margin-right:9px ;
  }
  
  .message-meta #author {
    font-weight: bold;
    color: #777;
  }
  
  .chat-window .chat-body .message .message-meta {
    display: flex;
    font-size: 10px;
    flex-direction: column;
    padding-top: 5px;
  }
  
  .chat-window .chat-footer {
    height: 40px;
    border: 1px solid #263238;
    border-top: none;
    display: flex;
  }
  .message-meta #time {
    color: #777;
  }
  
  .chat-window .chat-footer input {
    height: 100%;
    flex: 85%;
    border: 0;
    padding: 0 0.7em;
    font-size: 1em;
    border-right: 1px dotted #607d8b;
  
    outline: none;
    font-family: "Open Sans", sans-serif;
  }
  
  .chat-window .chat-footer button {
    border: 0;
    display: grid;
    place-items: center;
    cursor: pointer;
    flex: 15%;
    height: 100%;
    background: transparent;
    outline: none;
    font-size: 25px;
    color: lightgray;
  }
  
  .chat-window .chat-footer button:hover {
    color: #43a047;
  }
  .hide {
    opacity: 0 !important;
  }

.react-scroll-to-bottom--css-aqiui-1n7m0yu::-webkit-scrollbar {
    width: 8px;
}
   
.react-scroll-to-bottom--css-aqiui-1n7m0yu::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: rgb(199, 216, 255);
    outline: 1px solid slategrey;
}