.comment_sec {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.optHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.UserOptions {
    gap: 20px;
}

.comment_sec form {
    padding: 30px 0;
}

.comment_sec form  input {
    max-width: 85%;
}

.comment_list {
    
    margin-top: 28px;
    margin-bottom: 25px;
    padding: 0 0 0 12px;
    border-left: 2px solid #ddd;
}

.comment {
    padding: 10px 0;
}

.comment form {
    padding: 0px 0 5px 30px;
}

.comment .frm {
    padding: 30px 0 5px 30px;
}

.body {
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 3px;
    font-weight: 400;
    width: 80%;
    font-weight: 600;
}

.options {
    display: flex;
    flex-direction: row;
}

.likes, .reply {
    margin-left: 50px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 3px;
    cursor:  pointer;
    font-size: 10px;
    font-weight: 700;
    vertical-align: middle;
}
.reply {
    margin-left: 18px;
}
.likes span, .reply span {
    font-variation-settings: 'FILL' 0;
    font-size: 15px;
    
}

.likes:hover, .likes.active, .reply:hover  {
    color: #2F80ED;
}

.likes:hover span, .likes.active span  {
    font-variation-settings: 'FILL' 1;
}

.comment .comment_list{
    margin-left: 50px;
}

.frm {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 30px 0;
}

.frm img {
    width: 45px;
    height: 45px;

}
.frm input {
    flex-grow: 1;
}