.optionsList {
    color: white;
    list-style: none;
    display: inline-flex;
    gap: 1.8rem;
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
}

.optionsList a {
    color: white;
    text-decoration: none;
}
.optionsList li {
    cursor: pointer;
}
.optionsList li:hover,
.optionsList a:hover {
    color: white;
    text-decoration: underline;
}
