.wrapper {
    background: linear-gradient(90deg, #7f7fd5 62.81%, #86a8e7 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 1.2rem 5rem;
    gap: 1rem;
    margin: 0;  
    z-index: 999;
    position: sticky;

}


