.mainLabel {
    font-family: "Montserrat";
    font-weight: 700;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 178px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.total {
    font-size: 28px;
    text-align: center;

    color: #383848;
}

.label {
    font-size: 10px;

    text-align: center;

    color: #646464;
}

.circle {
    position: relative;
}
