@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Montserrat:wght@600;700;900&display=swap");

html {
    font-size: 70%;
}
body {
    margin: 0;
    font-family: "Lato", sans-serif;
    color: #333333;
    background-color: #F3F5F9 !important;
}


* {
    box-sizing: border-box;
}

a {
color: initial !important;
text-decoration: none !important;
opacity: 1 !important;
}

a:hover {
    opacity: 0.7;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        360deg,
        #000000 2.14%,
        rgba(0, 0, 0, 0.28) 99.99%
    );
    text-align: center;
}

.modal-content {
    padding: 2rem 1rem;
    border-radius: 20px !important;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1.5rem 5% 0 5%;
    gap: 1.5rem;
}
.form .group {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    flex-grow: 1;
}

.form .group div,
.error {
    color: #cc2936;
    font-size: 1rem;
    margin-bottom: -3px;
}

.form label {
    font-family: 'Lato';
    font-style: normal;
    font-size: 14px;
    color: #646464;
}

.customSelect div {
    border-color: #86A8E7;
    border-radius: 8px;
}
.form label {
    margin-bottom: 2px;
}
.form input, .form textarea{
    border-radius: 8px;
    background: #FFFFFF;
    border: 1px solid #86A8E7;  
    padding: 0.5rem 0.6rem;
    font-size: 1.1rem;
    font-family: 'Lato';
    font-size: 14px;
    
}

.form textarea  {
    height: 400px;
}
::placeholder {
    font-family: 'Lato';
    color: #BEBFC1;

}

.form button, .btnS, .btnDanger, .btnE,.btnG  {
    background: #7996d0;
    font-family: "Lato";
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding: 0.6rem 2rem ;
    border: 0;

    color: #ffffff !important;
    margin: 1rem 0;
    border-radius: 6px;
    width: fit-content;
    cursor: pointer;
    /* width: 105px; */
   /*  padding: 0 12px; */
}

.btnE {
    background: #383848;
}

.btnE:hover {
    background: #202028;
}

.btnG {
    background: #8fc93a;
}

.btnG:hover {
    background: #6e9b2b;
}

.form button:hover, .btnS:hover{
    background: #607297;
}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
}

.form-group > div {
    flex-grow: 1;
}

.errorForm {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 0.6rem 0.5rem;
    border-left: 3px solid #721c24;
    font-size: 1.1rem;
    font-weight: 700;
}



/* tags */
.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    overflow-y: auto;
    padding: 1rem 1rem;
    max-width: 420px;
    max-height: 250px;
    align-content: flex-start;
}

.tag-list::-webkit-scrollbar {
    width: 0.5em;
}
   
textarea::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

textarea::-webkit-scrollbar {
    width: 0.5em;
}
   
textarea::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: darkgrey;
    outline: 1px solid slategrey;
}


.tag {
    padding: 2px 9px;
    font-family: 'Lato';
    font-size: 13px;
    display: inline-block;

    color: #717191;
    background: #D7E5FF;
    border: 1px solid #7F7FD5;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    
}

.tag.error {
    background: #ffd7d7;

}
.tag span {
    padding: 0 0.5px;
}

.tag:hover {
    color: #717191;
    background: #c7d6ef;
    
}

.tag .material-symbols-outlined{
    font-size: 18px;
    margin-left: 5px;
    
    vertical-align: middle;
}
.tag span:nth-of-type(2){
    margin-left: 8px;

}

.tag-list .active {
    background: #D7FFDD;
    border: 1px solid #87D88F;
}

.tag-list .active:hover {
    color: #717191;

    background: #c7edcd;
}

/* minimal forms */
.mnForm form {
    background: #FFFFFF;
    border: 1px solid #95B2EA;
    box-shadow: 0px 4px 24px 4px rgba(149, 178, 234, 0.25);
    border-radius: 17px;
    padding-bottom: 1rem;
}


.danger form {
    padding: 3rem 1rem;
}
.danger button, .btnDanger{
    background-color: #CC2936;
}

.cont .mnForm form {
    background: #FFFFFF;
border: 1px solid #95B2EA;
box-shadow: 0px 4px 24px 4px rgba(149, 178, 234, 0.25);
border-radius: 17px;
padding-bottom: 1rem;
}


.cont .danger form {
    padding: 3rem 1rem;
}
.cont .danger button, .btnDanger{
    background-color: #CC2936;
}

.cont .danger button:hover,.btnDanger:hover {
    background-color: #a0212c ;
    opacity: 1;

}

.form-vert {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    
}
.form-vert > .group {
    gap: 1.6rem;
}

.form-vert .tag-list {
    border-left: 2px solid #ddd;
}

.thum-wrapper {
    width: 840px; 
    height: 400px;
    background-size: cover
}


.btnIconList {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.btnIcon {
    width: 17px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #95B2EA;
    border-radius: 50%;
    margin-left: -12px;
    margin-bottom: -9px;
    cursor: pointer;
    color: #fff;
}
.btnIcon.danger {
    background-color: #CC2936;
}
.btnIcon.danger:hover {
    background-color: #a0212c;
}
.btnIcon:hover {
    background-color: #7990be;
}

.btnIcon.success {
    background: #8FC93A;
}
.btnIcon.success:hover {
    background: #6a952a;
}

.btnIcon span {
    font-size: 10px;   
}

.elementCont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    padding: 30px 0;
}

.component {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 15px;
    height: 150px;
    position: relative;
    background-size: cover;
    padding: 20px 20px;
    justify-content: space-between;
    cursor: pointer;
}
.component:hover .overlay {

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 5%, rgba(0, 0, 0, 0.5) 100%);

}

.component .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 5%, rgba(0, 0, 0, 0.5) 100%);

    z-index: 1;
}
.component .heading, .component .desc {
    z-index: 11;
}
.component .description, .component .desc {
color: #fff;
}

.component .description {
    color: #929292;
}
.component h4 a {
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
    margin-bottom: 5px;
    color: white !important;
}

.component .material-symbols-outlined{
    font-size: 13px;
    vertical-align: middle;
    font-variation-settings: 'FILL' 0;

}

.component .desc {
    display: flex;
    gap: 9px;
    vertical-align: baseline;
}

.swiper-slide .component {
    margin: 0 20px;
}

.smallTxtBox textarea {
    height: 100px;
}

.errorLink {
    margin-top: 2px;
    text-decoration: underline;
    color: #cc2936;

}