@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Montserrat:wght@600;700;900&display=swap");

html {
    font-size: 70%;
}
body {
    margin: 0;
    font-family: "Lato", sans-serif;
    color: #333333;
    background-color: #F3F5F9 !important;
}

* {
    box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        360deg,
        #000000 2.14%,
        rgba(0, 0, 0, 0.28) 99.99%
    );
    text-align: center;
}

.modal-content {
    padding: 2rem 1rem;
    border-radius: 20px !important;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1.5rem 5% 0 5%;
    gap: 1.5rem;
}
.form .group {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    flex-grow: 1;
}

.form .group div,
.error {
    color: #cc2936;
    font-size: 1rem;
    margin-bottom: -3px;
}

.form label {
    font-family: 'Lato';
    font-style: normal;
    font-size: 14px;
    color: #646464;
}

.form input {
    border-radius: 8px;
    background: #FFFFFF;
    border: 1px solid #86A8E7;  
    padding: 0.5rem 0.6rem;
    font-size: 1.1rem;
    font-family: 'Lato';
    font-size: 14px;
    
}
::placeholder {
    font-family: 'Lato';
    color: #BEBFC1;

}

.form button {
    background: #95B2EA;
    font-family: "Lato";
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding: 0.5rem 0 ;
    border: 0;

    color: #ffffff;
    margin: 1rem 0;
    border-radius: 6px;
    width: 95px;
}


.form button:hover {
    background: #7c94c5;
}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
}

.errorForm {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 0.6rem 0.5rem;
    border-left: 3px solid #721c24;
    font-size: 1.1rem;
    font-weight: 700;
}



/* tags */
.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    overflow-y: auto;
    padding: 1rem 1rem;
    max-width: 500px;
    max-height: 250px;
}

.tag-list::-webkit-scrollbar {
    width: 0.5em;
}
   
.tag-list::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

.tag {
    padding: 2px 9px;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 13px;


    color: #717191;
    background: #D7E5FF;
    border: 1px solid #7F7FD5;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    
}

.tag.error {
    background: #ffd7d7;

}
.tag span {
    padding: 0 0.5px;
}

.tag:hover {
    color: #717191;
    background: #c7d6ef;
    
}

.tag .material-symbols-outlined{
    font-size: 18px;
    margin-left: 5px;
    
    vertical-align: middle;
}
.tag span:nth-of-type(2){
    margin-left: 8px;

}

.tag-list .active {
    background: #D7FFDD;
    border: 1px solid #87D88F;
}

.tag-list .active:hover {
    color: #717191;

    background: #c7edcd;
}

/* minimal forms */
.mnForm form {
    background: #FFFFFF;
    border: 1px solid #95B2EA;
    box-shadow: 0px 4px 24px 4px rgba(149, 178, 234, 0.25);
    border-radius: 17px;
    padding-bottom: 1rem;
}


.danger form {
    padding: 3rem 1rem;
}
.danger button{
    background-color: #CC2936;
}

.cont .mnForm form {
    background: #FFFFFF;
border: 1px solid #95B2EA;
box-shadow: 0px 4px 24px 4px rgba(149, 178, 234, 0.25);
border-radius: 17px;
padding-bottom: 1rem;
}


.cont .danger form {
    padding: 3rem 1rem;
}
.cont .danger button{
    background-color: #CC2936;
}

.cont .danger button:hover {
    background-color: #a0212c;

}.danger button:hover {
    background-color: #a0212c;

}