.review{
    padding-top: 25px;
}
.summary {
    display: flex;
    flex-direction: row;

}
.summary img {
    width: 50px;
    height: 50px;
}
.strs {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 62px;
    margin-top: -29px;
    align-items: center;
    margin-bottom: 17px;
    gap: 8px;
}

.strs div:first-child {
    margin-top: -7px;
}
.body {
    margin-left: 62px;
    margin-top: 10px;
    margin-bottom: 3px;
    width: 80%;
    font-weight: 600;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;

}

.myReview {
    border: 1px solid #95B2EA;
    box-shadow: 0px 4px 24px 4px rgba(149, 178, 234, 0.25);
    border-radius: 17px;
    padding: 0px 30px;
    margin-top: 50px;
    position: relative;
}

.UserOptions {
    gap: 20px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 25px;
    top: 30px;
}



.frm {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 30px 0;
}

.frm img {
    width: 45px;
    height: 45px;

}
.frm input {
    flex-grow: 1;
}